.App {
  margin: 5% 5% 5% 5%;
  /* text-align: center; */
  height: 320px;
    background-color: brown;
}

.form h1{
  margin-left: 15px;
}
.form p{
  font-size: 22px;
  margin-left: 15px;
}

.form input{
    width: 90%;
    height: 30px;
    margin-left: 15px;
    padding-left: 5px;
    font-size: 15px;
}
.form input:focus{
  outline: none;
}
.form button{
   font-size: 22px;
    margin: 15px 16px;
    font-weight: bolder;
    height: 40px;
    border-radius: 8px;
    background-color: cadetblue;
}
.form button:focus{
  outline: none;
}
.list{
  margin: 15% 5% 5% 5%;
  height: max-content;
    background-color: brown;
}
.list p{
  font-size: 23px;
    padding-bottom: 25px;
}
.list button{
  font-size: 22px;
  font-weight: bolder;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(160, 137, 95, 0.685);
  margin-top: -10px;
}

#h1-tag{
  border-bottom: oldlace 2px solid;
  margin-left: 10px;
    padding-top: 10px;
}
#job-id {
  margin-left: 35%;
}
 #remove-id{
  margin-right: 20px;
  float: right;
}